<!-- Here starts the navar code-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <h5>WELCOME</h5>
    <div class="collapse navbar-collapse">

    </div>

    <a class="navbar-btn " href="#" routerLinkActive="active" [routerLink]="['/stats']">
        <h5>STATS</h5>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbar ">

                <a id="user"> <img id="profile" src="{{profilePicture}}" class="profile-image img-circle"> {{name | uppercase}}</a>
            </li>

        </ul>


    </div>


    <button class="btn btn btn-danger navbar-brand my-2 my-sm-0 font-weight-bold " (click)="user.logout()" type="submit ">LOG OUT</button>

</nav>

<!-- Here starts the cards code-->
<br><br>

<div class="card-columns col-sm-6 col-md-12 col-lg-12 col-md-offset-8 ">

    <div class="card">
        <img class="card-img-top " src="../../assets/memory.png " alt="Card image cap ">
        <div class="card-block " router>
            <button type="button " class=" btn btn-dark btn-block " [routerLink]="[ '/options/Memory'] ">
                    Play Memory
                </button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top " src="../../assets/othello.png " alt="Card image cap ">
        <div class="card-block ">
            <button type="button " class=" btn btn-dark btn-block " [routerLink]="[ '/options/Othello'] ">
                        Play Othello
                </button>
        </div>
    </div>
</div>