<!--<div *ngIf = "user.uid | async as uid; else login">The user is logged in. {{uid}}
  <div *ngIf = "user.isAdmin | async">The user also has Admin superpowers</div>
  <div><button (click) = "user.logout()">Log out</button></div>
</div> 

</ng-template> 

<div>
  
    you need to log in <button (click) = "user.login()">Log In</button>
</div>-->

<body>
    <div class="col-sm- col-md-12 col-lg-12 mx-auto">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Sign In</h5>
                            <form class="form-signin">
                                <button type="button" class="btn btn-lg btn-google btn-block text-uppercase" (click)="user.login()">
                        <i class="fab fa-google-plus-g"></i>
                        Log in with Google
                      </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="get()">get</button>

</body>