.image1 {
    width: 50px;
    height: 50px;
}

.h2 {
    color: white;
}

.avatar {
    width: 50px;
    height: 50px;
}

#mybutton {
    position: fixed;
    bottom: 1%;
    left: 2%;
}

.col {
    padding: 0%;
}

.container {
    padding: 0%;
    margin-left: 20%;
}

@media(max-width:500px) {
    #board {
        margin-left: 5%
    }
    .container {
        padding: 0%;
        margin-left: 0%;
    }
}