<div *ngIf="!loading">
    <h1><img src="../../../assets/loader.gif" alt="" width=80px; height=80px;> Waiting for player</h1>
    <button (click)="paint()">Make myself Visible</button>
</div>
<div class="General" *ngIf="loading">
    <div>
        <img src="../../../assets/avatar.png" class="avatar">
        <br>
        <h2 class="h2">{{objectToPaint.playerOne}}</h2>
        <h2 class="h2">Points: {{objectToPaint.ptsPlayerOne}}</h2>
        <hr>
    </div>
    <br>


    <div class="container" *ngIf="ableDisableBoard">
        <table class="table-responsive" cellpadding=1 cellspacing=1>

            <tr class="row" *ngFor="let row of tablero; let i = index">
                <td class="col" *ngFor="let col of row; let j = index">
                    <img (click)="positions(i,j);" class="image1" [src]="col">
                </td>
            </tr>

        </table>

    </div>
    <div *ngIf="!ableDisableBoard">
        <h1><img src="../../../assets/loader.gif" alt="" width=80px; height=80px;> Waiting for your turn</h1>
    </div>

    <br>

    <br>
    <div>
        <img src="../../../assets/avatar.png" class="avatar">
        <br>
        <h2 class="h2">{{objectToPaint.playerTwo}}</h2>
        <h2 class="h2">Points: {{objectToPaint.ptsPlayerTwo}}</h2>
    </div>

    <div class="chat">
        <textarea readonly="readonly" name="chat" id="chatToShow" cols="40" rows="10">{{showMessages}}</textarea>
        <hr>
        <input type="text" id="messageToSend" [(ngModel)]="message">
        <button class="btn btn-danger" (click)="sendMessage()">SEND</button>
    </div>


</div>