.image1 {
    width: 70px;
    height: 70px;
}

.avatar {
    width: 70px;
    height: 70px;
    margin-left: 2%;
}

.avatar2 {
    width: 70px;
    height: 70px;
    margin-left: 2%;
}

.h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}