<div *ngIf="!loading">
    <h1>
        <img src="../../../assets/loader.gif" alt="" width=80px; height=80px;> Waiting for player</h1>
    <button (click)="paint()">change</button>
</div>
<div class="General" *ngIf="loading">
    <div>
        <img src="../../../assets/avatar.png" class="avatar">
        <br>
        <h2 class="h2">{{objectGame.currentPlayer}}</h2>
        <h2 class="h2">Points: {{objectGame.ptsPlayerOne}}</h2>
    </div>
    <br>
    <div class="container">
        <table class="table-responsive" cellpadding=1 cellspacing=1>

            <tr class="row" *ngFor="let row of tablero; let i = index">
                <td class="col" *ngFor="let col of row; let j = index">
                    <img (click)="positions(i,j);" class="image1" [src]="col">
                </td>
            </tr>

        </table>
    </div>
    <br>
    <div>
        <img src="../../../assets/avatar.png" class="avatar2">
        <br>
        <!--   <h2 class="h2">{{grafica.plyerTwo}}</h2>
    <h2 class="h2">Points: {{grafica.ptsPlayerTwo}}</h2>-->
    </div>
</div>