.image1 {
    width: 70px;
    height: 70px;
}

.h2 {
    color: white;
}

.avatar {
    width: 70px;
    height: 70px;
    margin-left: 2%;
}

.avatar2 {
    width: 70px;
    height: 70px;
    margin-left: 2%;
}

.h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#mybutton {
    position: fixed;
    bottom: 1%;
    left: 2%;
}

.col {
    padding: 0%;
}

.container {
    padding: 0%;
}

@media(max-width:500px) {
    #board {
        margin-left: 5%
    }
}